<body>
    <div class="d-flex align-items-center justify-content-between">

        <div id="selector" class="d-flex align-items-center">
            <label class="fw-bold text-white ms-3 me-2">Filtra por Director:</label>
            <!--ngModel para poder pillar el valor del option en el filtro-->
            <select [(ngModel)]="categoriaPredeterminada" (change)="filtradoPorDirectores(categoriaPredeterminada)"
                class="form-select w-auto fw-bold fst-italic">
                <option value="todas">-- Selecciona Director --</option>
                <option *ngFor="let dire of directores" value="{{dire.id}}">{{dire.nombre}}</option>
            </select>
        </div>


        <a [routerLink]="['/crearPeli']" id="boton" class="d-flex justify-content-end">
            <button type="submit" class="btn btn-dark text-white">
                Crear
            </button></a>

    </div>

    <div class="head1 text-center">Peliculas</div>
    <div class="head2 text-center">Algunas de las obras más reconocibles de los directores aportados en esta
        filmoteca
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12  mt-3" *ngFor="let peli of peliculasFiltro">
            <div class="d-flex">
                <img [src]="peli.imagen" [alt]="'Imagen de ' + peli.titulo">
                <div class="info-pelicula">
                    <h5>{{ peli.titulo }}</h5>
                    <p>
                        <strong>Año:</strong> {{ peli.year }} <br>
                        <strong>Premios:</strong> {{ peli.premio ? 'Sí' : 'No' }}
                    </p>
                    <button class="btn btn-danger" (click)="borradoPelicula(peli.id)">Borrar</button>
                    <a [routerLink]="['/peliculas/editar', peli.id]"><button class="btn btn-success">Editar</button></a>
                </div>
            </div>
        </div>
    </div>



</body>