<body>

    <div class="head1 text-center">Directores</div>
    <div class="head2 text-center">Descubre a algunos de los maestros detrás de las películas de terror más icónicas
    </div>
    <div class="row ">
        <div class="col-lg-4 col-md-12 col-sm-12 mt-3" *ngFor="let director of directores;">
            <div style="display: flex;">
                <img [src]="director.imagen" [alt]="'Imagen de ' + director.nombre">
                <div class="info-director">
                    <strong>Nombre:</strong> {{ director.nombre }} <br>
                    <strong>Edad:</strong> {{ director.edad }} años
                </div>
            </div>
        </div>
    </div>
</body>